<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Médico</title>
    <link rel="stylesheet" href="/static/logmedico.css">
</head>
<body>
    <div class="container">

        <h1>Área do Médico</h1>
        <h2 class="subtitulo">Insira seus dados</h2>

        <form action="/login_medico" method="post" onsubmit="return validarMedico()">

            <!-- CRM só números -->
            <input type="text" 
                   name="crm" 
                   id="crm" 
                   placeholder="Seu CRM"
                   maxlength="10"
                   required
                   oninput="this.value = this.value.replace(/[^0-9]/g, '')">

            <!-- Senha -->
            <div class="senha">
                <input type="password" 
                name="senha" 
                id="senha" 
                placeholder="Sua senha"
                required>

                <span id="toggleSenha" class="icone-olho">👁️</span>
            </div>
            <button type="submit" id="entrar" disabled>Entrar</button>
        </form>

        <!-- Botão Primeiro Acesso -->
        <button onclick="window.location.href='/cadastro_medico'" 
                style="margin-top: 12px; background-color: #4a4a4a;">
            Primeiro Acesso
        </button>

    </div>

    <script>
    function validarMedico() {
        const crm = document.getElementById("crm").value.trim();
        const senha = document.getElementById("senha").value.trim();
        return !(crm === "" || senha === "");
    }

    document.addEventListener("input", () => {
        const crm = document.getElementById("crm").value.trim();
        const senha = document.getElementById("senha").value.trim();
        document.getElementById("entrar").disabled = !(crm && senha);
    });

    const senhaInput = document.getElementById("senha");
    const toggleSenhaBtn = document.getElementById("toggleSenha");

    toggleSenhaBtn.addEventListener("click", () => {
        if (senhaInput.type === "password") {
            senhaInput.type = "text";
            toggleSenhaBtn.textContent = "🙈";
        } else {
            senhaInput.type = "password";
            toggleSenhaBtn.textContent = "👁️";
        }
    });
    </script>

</body>
</html>
